@model LMS_ConsumeAPP.Application.DTOs.BookDTO.BookCreateDto

<h2>Create Book</h2>

<form asp-action="Create" method="post">
    <div>
        <label for="Title">Title</label>
        <input asp-for="Title" />
    </div>
    <div>
        <label for="Genre">Genre</label>
        <input asp-for="Genre" />
    </div>
    <div>
        <label for="ISBN">ISBN</label>
        <input asp-for="ISBN" />
    </div>
    <div>
        <label for="Quantity">Quantity</label>
        <input asp-for="Quantity" />
    </div>
    <div>
        <label for="Authors">Authors</label>
        <select asp-for="AuthorIds" asp-items="ViewBag.AuthorList" multiple="multiple">
        </select>
    </div>
    <button type="submit">Create</button>
</form>
